<nb-card>
  <nb-card-header> CRUD Table </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <nb-card class="inline-form-card">
          <nb-card-header>查詢條件</nb-card-header>
          <nb-card-body>
            <form class="form-inline">
              <input type="text" nbInput fullWidth placeholder="Jane Doe" />
              <input type="text" nbInput fullWidth placeholder="Email" />

              <button
                type="button"
                class="btn btn-primary"
                status="primary"
                (click)="queryData()"
              >
                查詢
              </button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <button class="btn btn-md btn-info" (click)="openDialog()">新增</button>

    <button class="btn btn-md btn-info" (click)="callList()">LIST</button>
    <button class="btn btn-md btn-info" (click)="callCreate()">CREATE</button>
    <h1>smart table</h1>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      allowFiltering="false"
      allowPaging="true"
      (deleteConfirm)="onDeleteConfirm($event)"
      (edit)="onEdit($event)"
      (userRowSelect)="onRowSelect($event)"
    ></ng2-smart-table>

    <hr />
    <h1>basic table</h1>
    <div style="margin: 20px">
      <table>
        <tr
          *ngFor="
            let item of items
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
        >
          <td>{{ item.CustomerID }}</td>
        </tr>
      </table>
      <!-- <ngb-pagination
        [collectionSize]="items.length"
        [(page)]="page"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination> -->
    </div>
  </nb-card-body>
</nb-card>
